<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
    <style>
        .jumbotron{
            width: 600px;
            text-align: center;
            margin: 20px auto auto;
        }
        .form-control{
            margin: 10px 0px;
        }
        .contacts-data{
            margin: 20px 0px;
        }
        .selecionado{
            font-weight: bold;
        }
    </style>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
        <select class="form-control" type="text" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
        <button class="btn btn-danger btn-block" ng-click="removerContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Remover contatos</button>
        <table class="contacts-data table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Categoria</th>
                <tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td ng-bind="contato.nome"></td>
                    <td ng-bind="contato.telefone"></td>
                    <td ng-bind="contato.operadora.nome"></td>
                    <td ng-bind="contato.categoria"></td>
                </tr>
            </tr>
        </table>
    </div>

    <script src="libs/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "987766172", operadora: "Tim", categoria: "Celular"},
                {nome: "Ana", telefone:"987766172", operadora: "Claro", categoria: "Fixo"},
                {nome: "Maria", telefone:"987766172", operadora: "Vivo", categoria: "Celular"}  
            ];

            $scope.operadoras = [
                {nome: "Tim", codigo: 41, categoria: "Celular"}, 
                {nome: "Claro", codigo: 14, categoria: "Fixo"},
                {nome: "Vivo", codigo: 33, categoria: "Celular"},
                {nome: "Oi", codigo: 56, categoria: "Fixo"},
            ];

            $scope.adicionarContato = function(contato){
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };

            $scope.removerContato = function(contatos){
                $scope.contatos = contatos.filter(function(contato){
                    if(!contato.selecionado) return contato;
                });
            };

            $scope.isContatoSelecionado = function(contatos){
                return contatos.some(function(contato){
                    return contato.selecionado;
                });
            }
        });
    </script>
</body>
</html>